
h1{
    color:rgba(0, 0, 0, 0.842);
}
h2,p{
    text-align: center;
    font-family:fantasy;
}
.header{
    background-color: aquamarine;
    display:flex; 
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

